<mat-toolbar color="primary" >
  <span class="center">Angular Material Json Data</span>
  </mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="TYPE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TYPE</th>
      <td mat-cell *matCellDef="let row">{{row.type}}</td>
    </ng-container>

    <ng-container matColumnDef="REGION">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>REGION</th>
      <td mat-cell *matCellDef="let row">{{row.region}}</td>
    </ng-container>

    <ng-container matColumnDef="DETAILS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DETAILS</th>
      <td mat-cell *matCellDef="let row" ><button mat-raised-button color="primary" (click)="getRecord(row.details)">GET DETAILS</button></td>
      <div>
      </div>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="7"
      [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div>
